{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify %}

{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
<li>
    {% url 'admin:auth_user_password_change' original.pk as change_password_url %}
    <a href="{{ change_password_url }}" class="change-password">{% trans "Change password" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}